<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aziz_najwa_dsi32_g1.resultat_election">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/election"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/election"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cree_compte"></activity>
        <activity android:name=".ajouter_election"></activity>
        <activity android:name=".ajouter_choix"></activity>
        <activity android:name=".list_choix_admin"></activity>
        <activity android:name=".liste_election_admin"></activity>
        <activity android:name=".list_choix"></activity>
        <activity android:name=".liste_election"></activity>
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>